.gradle
.idea
local.properties
.idea/
.DS_Store
Pods
Podfile.lock
xcuserdata
build
*.iml
classes
bin/
out
application-*.properties
!application-dev.properties
!application-internal.properties
!application-online.properties
*.log
.classpath
.project
.settings
target
*.class
*/.tmp
gen
